{% extends 'base.html' %}
{% block content %}
<div style="margin:8em 25em 0 0;">
	<p style="font-family:Helvetica;">Interpreting the complexity of human personality, characteristics, and emotional functioning:</p>
	<h1 style="font-size:100px;width:876px;margin:0 0 1em 0;font-weight:460;">Inkblot test for psycho analysis</h1>
	<div style="display:flex;align-items:flex-start;justify-content:space-between;flex-wrap:wrap;">
		<a href="{{ url_for('inkblot_userinfo') }}">
			<button style="border-radius:0;font-size:12px;font-style:italic;text-transform:none;">Start Analysis &#8594;</button>
		</a>
		<a href="{{ url_for('about') }}" style="color:#7D7D7D;font-style:italic;font-size:12px;margin-right:1em;">What is this?</a>
		<div style="display:flex;align-items:flex-start;justify-content:space-between;width:100%;margin-top:2em;">
			<p style="color:#C1C1C1;font-weight:bold;font-size:30px;margin:0 18px 0 0;">1</p>
			<div>
				<p style="margin-top:0;line-height:133%;">Read the blots in sequence and note all your answers</p>
				<a href="{{ url_for('about') }}" style="color:inherit;">Read more &#8594;</a>
			</div>
		</div>
		<div style="display:flex;align-items:flex-start;justify-content:space-between;width:100%;margin-top:2em;">
			<p style="color:#C1C1C1;font-weight:bold;font-size:30px;margin:0 18px 0 0;">2</p>
			<div>
				<p style="margin-top:0;line-height:133%;">There is no correct answer to each of these blots, choose the one that initially comes to mind</p>
				<a href="{{ url_for('about') }}" style="color:inherit;">Read more &#8594;</a>
			</div>
		</div>
		<div style="display:flex;align-items:flex-start;justify-content:space-between;width:100%;margin-top:2em;">
			<p style="color:#C1C1C1;font-weight:bold;font-size:30px;margin:0 18px 0 0;">3</p>
			<div>
				<p style="margin-top:0;line-height:133%;">This test is meant for you to understand your sub-conscious behaviour</p>
				<a href="{{ url_for('about') }}" style="color:inherit;">Read more &#8594;</a>
			</div>
		</div>
	</div>
</div>
{% endblock %}
